{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .masthead {
            background: #3398E1;
            text-align:center;
            height: auto;
            box-shadow: 0 16px 48px #E3E7EB;
            background: url("/static/images/header.jpg") 50% 0 no-repeat fixed;
            
        }

  
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    
                    <h1 class=" site-heading my-4 mt-3 text-white"> Welcome to BDS Quality Services </h1>
                    <p class="text-light">Your ISO9000/AS9100 Internal Assessment Provider
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <h5 class="card-header">Certifications</h5>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-text">
                        ASQ Certified Quality Auditor</h5>
                        
                       <p>Issuing authority ASQ - World Headquarters</p> 
                        <a href="https://credentials.asq.org/7363e433-175b-4627-9f1a-4bef135c684e">See Credential</a>
                    
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock %}