{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: rgb(53, 58, 63);
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: none;
    }

    .masthead {
            background: #3398E1;
            text-align:center;
            height: auto;
            box-shadow: none;
            background: url("/static/images/header.jpg") 50% 0 no-repeat fixed;
            
        }

  
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    
                    <h1 class=" site-heading my-4 mt-3 text-white">BDS Quality Services </h1>
                    <p class="text-light">Your ISO9000/AS9100 Internal Assessment Provider
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        
        <div class="col-md-8 mt-3 left">
            <h5 class="card-header">Contact</h5>
            <div class="card ">
                <div class="card-body text-white bg-secondary mb-3">
                    
                   <p>If you would like to know more or would like a consultation, please reach out to me via my <a href="mailto:bdstark@bdsqs.net">email</a> or feel free to call me at the number below.</p>
                    
                    <p class="card-text">Telephone: (203)321-6024</p>
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock %}