{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .masthead {
            background: #3398E1;
            text-align:center;
            height: auto;
            box-shadow: 0 16px 48px #E3E7EB;
            background: url("/static/images/header.jpg") 50% 0 no-repeat fixed;
            
        }

  
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    
                    <h1 class=" site-heading my-4 mt-3 text-white"> Welcome to BDS Quality Services </h1>
                    <p class="text-light">Your ISO9000/AS9100 Internal Assessment Provider
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <h5 class="card-header">About BDS Quality Services</h5>
            <div class="card mb-4">
                <div class="card-body">
                    
                    <!-- <p class="card-text">Any information you want on the landing page</p>
                    <p class="card-text">Could include any current or past projects you have worked on.</p> -->
                    <p class="card-text">
                        As part of self-owned business, BDS Quality Services LLC, has performed consulting 
                        services in 2021 for client’s in the Austin area that included development and deployment 
                        of an effective Quality Management System. We have also been QMS consultant on internal assessments 
                        for small businesses to comply to ISO 9001:2015 and/or AS9100D registered certifications. We have 
                        overseen the performance of internal (first party) and external (second party) audits to include AS 9100, 
                        ISO 9001, ISO 13485 and ANSI/ESD 20.20. Wee specialize in quality training to include internal auditing and 
                        ISO19011, Consulting in supplier development and improvement. </p>
                    <!-- <a href="mailto:bdstark@bdsqs.net">Email</a>
                    <p>Telephone: (203)321-6024</p> -->
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock %}