{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .masthead {
            background: #3398E1;
            text-align:center;
            height: auto;
            box-shadow: 0 16px 48px #E3E7EB;
            background: url("/static/images/header.jpg") 50% 0 no-repeat fixed;
            
        }

  
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    
                    <h1 class=" site-heading my-4 mt-3 text-white"> Welcome to BDS Quality Services </h1>
                    <p class="text-light">Your ISO9000/AS9100 Internal Assessment Provider
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <h5 class="card-header">Services</h5>
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">
                        When you come to BDS Quality Services, you can expect exceptional knowledge of numerous Quality Assurance Programs utilizing ISO 9001:2015 & AS9100D, which include internal assessments and surveillance audits of suppliers. 
                        <br>
                        <br>
                        What we as a company can offer includes, but is not limited to, QA Process Development which include SPC, Guage R&R studies, DFMEA, & PFMEA Development. 
                        <br>
                        <br>
                        Here at BDS Quality Services we are productive, multi-task oriented, adapt well to change, and are meticulous. We excel at troubleshooting, problem-solving, and decision-making. 
                        <br>
                        <br>
                        We come with a strong working knowledge of JMP, RELEX, Word, Excel, Powerpoint, Windows, Microsoft Outlook, Lotus Notes, E-mail, SAP, & Oracle to suit your every need.</p>
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{% endblock %}