{% block sidebar %}
{% load static %}
<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;  
        }

        img.card {
            height: 65%;
            width: 65%;
            align-items: center;
        }

        .me {
            width: 100%;
            height: auto;
        }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">15+ years of experience in Supervisor/Quality Engineering roles in Computer Engineering, Semiconductor, & Aerospace Industry.</p>
        
    </div>
    <img class="me" src="{% static 'images/Picture1.png' %}" alt="My image">
</div>

</div>


{% endblock sidebar %}