{% block sidebar %}
{% load static %}
<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;  
        }

        img.card {
            height: 65%;
            width: 65%;
            align-items: center;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Contact</h5>
    <div class="card-body">
        <p>If you would like to know more or would like a consultation, please reach out to me via my <a href="mailto:bdstark@bdsqs.net">email</a> or feel free to call me at the number below.</p>
                    
        <p class="card-text">Telephone: (203)-321-6024</p>
        <!-- <i class="fab fa-linkedin"></i> -->
        <a href="https://www.linkedin.com/in/bdstark2000/"><i class="bi bi-linkedin" style="color:rgb(40, 103, 188)"></i></a>
        
                   
        
    </div>
   
</div>

</div>


{% endblock sidebar %}